@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background: white !important;
      color: black !important;
    }
    .print-area {
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
